# Servidor (Secretas)
STRIPE_SECRET_KEY=sk_test_placeholder
STRIPE_WEBHOOK_SECRET=whsec_placeholder
TURNSTILE_SECRET_KEY=0x_placeholder
SANITY_API_READ_TOKEN=sanity_token_placeholder
# Cliente (Públicas)
PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_placeholder
PUBLIC_TURNSTILE_SITE_KEY=0x_placeholder
PUBLIC_SANITY_PROJECT_ID=xfzft9lx
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2024-01-01
